@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>控制面板</title>
    <link href="~/Areas/Admin/plugins/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="admin-main">
        <blockquote class="layui-elem-quote">
            <p> Q  Q：178899573</p>
            <p>邮箱：178899573@qq.com</p>
        </blockquote>
        <fieldset class="layui-elem-field">
            <legend>系统介绍</legend>
            <div class="layui-field-box">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>源码下载</legend>
                    <div class="layui-field-box">
                        <p><a href="https://gitee.com/Liu_Cabbage/RightControl" target="_blank">https://gitee.com/Liu_Cabbage/RightControl</a></p>
                        <p>各位看官大佬觉得还可以的话，麻烦点个Star</p>
                    </div>
                </fieldset>
            </div>
        </fieldset>
    </div>
</body>
</html>
