@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>控制面板</title>
    <link href="~/Areas/Admin/plugins/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="admin-main">
        <blockquote class="layui-elem-quote">
            <p>控制面板</p>
            <p>技术支持：Liu_Cabbage</p>
        </blockquote>
        <fieldset class="layui-elem-field">
            <legend>系统介绍</legend>
            <div class="layui-field-box">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>查询条件</legend>
                    <div class="layui-field-box">
                        <p>...</p>
                    </div>
                </fieldset>
            </div>
        </fieldset>
    </div>
</body>
</html>
