<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- ================== 0：网站配置 ================== -->
  <!--网站名称-->
  <add key="SiteName" value="通用后台管理" />
  <!--网站域名-->
  <add key="SiteDomain" value="http://www.baidu.com" />
  <!--缓存时间分钟-->
  <add key="CacheTime" value="0" />
  <!--最大文件上传KB-->
  <add key="MaxFileUpload" value="2048" />
  <!--上传文件类型-->
  <add key="UploadFileType" value="png|gif|jpg|jpeg|zip|rar" />
  <!--首页标题-->
  <add key="HomeTitle" value="标题" />
  <!--META关键词:多个关键词用英文状态 , 号分割-->
  <add key="MetaKey" value="关键词" />
  <!--META描述-->
  <add key="MetaDescribe" value="描述" />
  <!--版权信息-->
  <add key="CopyRight" value="© 2019 通用后台管理 license" />
  <!--初始化密码-->
  <add key="InitUserPwd" value="123456" />
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.baidu.com" />
  <!-- 软件名称 -->
  <add key="SoftName" value=".NET通用后台管理" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />
  <!-- 软件授权码 测试备用 -->
  <add key="LicenceKey" value="83eda07f-ead3-4050-bcee-4f41e57a7e16" />
  <!-- ================== 3：外部邮件参数 ================== -->
  <!-- 设置邮箱名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 设置邮箱地址 -->
  <add key="MailUserName" value="sendbug@nfine.cn" />
  <!-- 设置邮箱密码 -->
  <add key="MailPassword" value="123456" />
  <!-- 设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />
</appSettings>