<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Areas/Admin/Content/fonts/iconfont.css" rel="stylesheet" />
    <link href="~/Areas/Admin/plugins/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/global.css" rel="stylesheet" />
</head>
<body style="overflow-x:hidden;">
    @RenderBody()
    <script type="text/javascript">
        layui.config({
            base: '/Areas/Admin/plugins/app/',
            version: '1522709297490' //为了更新 js 缓存，可忽略
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>