@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutList.cshtml";
}
<link href="~/Areas/Admin/Content/css/date.css" rel="stylesheet" />
<div class="admin-main">
    <blockquote class="layui-elem-quote p10">
        <form id="formSearch" class="layui-form" action="">
            <div class="layui-form-item" style="margin-bottom:0px;">
                <label class="layui-form-label">用户名：</label>
                <div class="layui-input-inline">
                    <input name="UserName" id="UserName" lay-verify="" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label">真实姓名：</label>
                <div class="layui-input-inline">
                    <input name="RealName" id="RealName" lay-verify="" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label">截止日期</label>
                <div class="layui-input-inline ui-time">
                    <input type="text" id="txtStartEndDate" readonly="readonly" name="StartEndDate" class="layui-input ui-time-text" value="" kssj="" jssj="" />
                </div>
                @Html.SearchBtnHtml()
                @Html.ResetBtnHtml()
                <div style="float:right;">
                    @Html.TopToolBarHtml(ViewData["ActionFormRightTop"])
                </div>
            </div>
        </form>
    </blockquote>
    <div class="layui-field-box">
        <table id="defaultTable" lay-filter="defaultruv"></table>
        <script type="text/html" id="bar">
            @Html.ToolBarHtml(ViewData["ActionList"])
        </script>
    </div>
</div>
<script>
        layui.use(['table', 'common', 'form', 'laydate', 'dateLay'], function () {
            var table = layui.table,
                form = layui.form,
                common = layui.common,
                laydate = layui.laydate;

            var $ = layui.$;
            //年月选择器
            var obj = {
                init: function () {
                    this.dp11 = $('#txtStartEndDate');
                    this.initEvent();
                },
                initEvent: function () {
                    this.dp11.dateLay();
                }
            }
            obj.init();

            //表格
            table.render({
                id: 'defaultReload'
               , elem: '#defaultTable'
               , height: 'full-112' //高度最大化减去差值
               , url: '/SysSet/Log/List' //数据接口
                //, initSort: { field: 'CreateOn', type: 'desc' } //初始化排序
               , page: true //开启分页
               , cols: [[ //表头  Id,UserName,RealName,CreateOn,Description,Status,Result,IPAddress
                 { checkbox: true, fixed: true },
                 { field: 'Id', title: 'Id', width: 80, fixed: 'left' }
                 , { field: 'UserName', title: '用户名', sort: true }
                 , { field: 'RealName', title: '真实姓名', sort: true }
                 , { field: 'Description', title: '日志描述' }
                 , { field: 'IPAddress', title: 'IP地址' }
                 , { field: 'IPAddressName', title: 'IP所在地' }
                 , { field: 'Status', title: '状态', templet: '<div>{{showStatus(d.Status)}}</div>', unresize: true, width: 100, align: 'center' }
                 , { field: 'CreateOn', title: '创建时间', sort: true, templet: '<div>{{showDate(d.CreateOn)}}</div>' }
                 , { field: '', title: '操作', toolbar: "#bar" }
               ]]
            });
            var $ = layui.$, active = {
                reload: function () {
                    //执行重载
                    table.reload('defaultReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                      , where: urlToJson($("#formSearch").serialize())
                    });
                }
            };
            $('#btnSearch').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
            $('#btnBatchDel').on('click', function () {
                var checkStatus = table.checkStatus('defaultReload');
                if (checkStatus.data.length>0) {
                    var data = checkStatus.data;
                    layer.confirm('确定要删除吗', function (index) {
                        console.log(data);
                        $.ajax({
                            url: "/SysSet/Log/BatchDel",
                            type: "POST",
                            data: { "list": data },
                            dataType: "json",
                            success: function (data) {
                                if (data.state == "success") {
                                    layer.close(index); //关闭弹框
                                    common.msgSuccess("删除成功");
                                } else {
                                    common.msgError("删除失败");
                                }
                                //table.reload('defaultReload');    重新渲染表格会出现横着滚动条
                                setTimeout(function () { location.reload(); }, 1500); 
                            }
                        });
                    });
                } else {
                    common.msgError("未选中任何行");
                }
            });
            //服务器排序
            table.on('sort(defaultruv)', function (obj) {
                //尽管我们的 table 自带排序功能，但并没有请求服务端。
                //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，如：
                table.reload('defaultReload', {
                    initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                  , where: { //请求参数
                      field: obj.field //排序字段
                    , order: obj.type //排序方式
                  }
                });
            });
            //监听工具条
            table.on('tool(defaultruv)', function (obj) {
                var data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm('确定要删除吗', function (index) {
                        console.log(data);
                        $.ajax({
                            url: "/SysSet/Log/Delete",
                            type: "POST",
                            data: { "Id": data.Id },
                            dataType: "json",
                            success: function (data) {
                                if (data.state == "success") {
                                    obj.del();//删除这一行
                                    layer.close(index); //关闭弹框
                                    common.msgSuccess("删除成功");
                                } else {
                                    common.msgError("删除失败");
                                }
                            }
                        });
                    });
                }
            });
        });
</script>

