@model RightControl.Model.PassWordModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutSinglePage.cshtml";
}

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改密码</div>
                <div class="layui-card-body" pad15>
                    @using (Html.BeginForm("Index", "PassWord", new { area = "SysSet" }, FormMethod.Post, new { @class = "layui-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input name="UserName" autocomplete="off" class="layui-input layui-disabled" value="@ViewBag.UserName" readonly="readonly" type="text">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">当前密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="OldPassword" lay-verify="required" lay-verType="tips" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="Password" lay-verify="pass" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="Repassword" lay-verify="repass" lay-verType="tips" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn fl" lay-submit lay-filter="setmypass">确认修改</button>
                                <div class="div-msg fl" style="float:left;">@ViewBag.Msg</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            $ = layui.jquery;
        //表单验证
        form.verify({
            pass: [/^[\S]{6,16}$/, "密码必须6到16位，且不能出现空格"],
            repass: function (t) {
                if (t !== $("#LAY_password").val()) return "两次密码输入不一致"
            }
        });
    });
</script>

